.sort {
  padding:0 10px;
  height: 30px;
  line-height: 30px;
  background-color: #EEEEEE;

}
.sort a {
  width: 25%;
  height: 30px;
  float: left;
  font-size: 12px;
  color: #666;
  text-align: center;
}

.sort a.active {
  color: darkorange;
}

.product{
  padding: 10px;
}
