html,body {
  width: 100%;
  height: 100%;
}
.body-bg {
  background-color: #222D32;
}
.mt-150 {
  margin-top:150px;
}
.panel-heading>.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}